/* 
font-family: "Vend Sans", sans-serif;
font-family: "Quantico", sans-serif; 
*/

footer {
    background-color: rgb(196, 186, 204);
}

.navbar-brand {
    font-family: 'vcr osd mono';
    font-size: 30px;
}

.hero {
    background: url(imagenes/fondoprincipal.jpg) no-repeat;
    background-size: cover;
    min-height: 700px;
    color: white;
}

h1 {
    font-family: 'Vend Sans';
    font-weight: bold;
}

.card {
    margin-top: 10px; 
    margin-left: 20px;
    margin-bottom: 50px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    margin-top: 12px;
}

h5 {
    font-family: 'Quantico'
}

h3 {
    font-family: 'Quantico';
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 11px rgba(0,0,0,1);
}

.row {
    justify-content: center;
}

.img-fluid{
    border-radius: 22px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    filter: grayscale(0.6);
}

.img-fluid:hover {
    transform: scale(1.08);
    filter: none;
}

#historiafoto {
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

.scroll_section {
    scroll-margin-top: 80px;
}