<div class="row">
    <div class="col">
        <h2 class="mt-3 text-center quantico-bold">Componentes de PC</h2>
    </div>
</div>

<h2 class="ms-4 mt-5">Placas de Video</h2>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video Asrock Radeon RX 9060 XT 16GB GDDR6 Challenger OC
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$562.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video INNO3D GeForce RTX 5050 8GB GDDR6 Twin X2 
</h5>
            <div class="mt-auto">
                <h4 class="mb-3">$364.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video XFX Radeon RX 9070 XT 16GB GDDR6 Quicksilver Gaming Edition
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$912.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video MSI GeForce RTX 5080 16GB GDDR7 GAMING TRIO OC 
</h5>
            <div class="mt-auto">
                <h4 class="mb-3">$2030.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video Asrock Radeon RX 6600 8GB GDDR6 Challenger D

            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$276.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/placas/placa6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Placa de Video MSI GeForce RTX 5070 Ti 16GB GDDR7 Ventus 3X OC 

            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$1349.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>





    <h2 class="ms-5 mt-5">Fuentes</h2>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente ASUS ROG Thor 3 1200W 80 Plus Platinum III 1200P3 Full Modular ATX 3.1 PCIe 5.1</h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$515.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente ASUS ROG Strix 1000W 80 Plus Platinum Full Modular White ATX 3.1 PCIe 5.1 1000P
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$267.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente Corsair 1200W 80 Plus Gold RM1200X SHIFT Full Modular ATX 3.1 PCIe 5.1
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$256.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente ASUS ROG Strix 1000W 80 Plus Platinum Full Modular ATX 3.1 PCIe 5.1 1000P
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$255.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente Antec 1200W 80 Plus Platinum Full Modular ATX 3.1 PCIe 5.1 HCG1200 PRO AR
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$245.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/fuentes/fuente6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fuente Corsair SFX 850W 80 Plus Platinum Full Modular SF850 ITX ATX 3.1 PCIe 5.1
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$221.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>




        <h2 class="ms-5 mt-5">Memorias RAM</h2>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="images/rams/ram1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria Team DDR4 16GB (2x8GB) 3200MHz T-Force Vulcan Z Grey CL16</h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$173.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/rams/ram2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria Patriot DDR4 16GB (2x8GB) 3600MHz Viper Steel RGB
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$183.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/rams/ram3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria G.Skill DDR4 64GB (4x16GB) 3200MHz TRIDENT Z Silver/black CL16 XMP 2.0
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$439.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/rams/ram4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria ADATA DDR5 32GB (2x16GB) 6000MHz XPG Lancer RGB CL30 Black Intel XMP 3.0 / AMD EXPO</h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$586.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/rams/ram5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Memoria Team DDR5 64GB (2x32GB) 5600MHz T-Force Delta RGB CL36 White Intel XMP 3.0 / AMD EXPO 

                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$1036.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>