<div class="row">
    <div class="col">
        <h2 class="mt-3 text-center quantico-bold">Monitores</h2>
    </div>
</div>

<h2 class="ms-4 mt-5">27 Pulgadas</h2>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer ASUS TUF VG279Q3A-J 27" FHD IPS 180Hz Freesync Premium G-SYNC
                Compatible
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$209.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer Acer Nitro XV273K V3 27" 4K UHD IPS 160Hz 0.5ms AMD Freesync Premium
                Speakers
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$615.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer ASUS ROG Strix XG27UCS-J 27" 4K UHD Fast IPS 160Hz AMD FreeSync Premium
                G-SYNC Compatible
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$564.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer Curvo Samsung Odyssey G5 G55C 27" VA QHD 2560*1440 1000R 165Hz 1ms
                (MPRT)</h5>
            <div class="mt-auto">
                <h4 class="mb-3">$304.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer Samsung Odyssey G6 G65B 27" QHD 1440p VA 240Hz 1ms AMD FreeSync Premium
                Pro Curvo 1000R
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$499.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/monitores27/moni1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Monitor Gamer AsRock Challenger CL27FFA 27" IPS FHD 120Hz Flicker Free Technology
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$126.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>





    <h2 class="ms-5 mt-5">24 Pulgadas</h2>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Hikvision DS-D5024F2-AV2 23.8" FHD VA 100Hz Vesa</h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$124.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Gamer ViewSonic VX2429 24" 1080p IPS 200Hz FreeSync Premium
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$152.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Gamer Acer Nitro 23.8" KG241Y FHD VA 180Hz 1ms AMD FreeSync Premium</h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$152.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Gamer ViewSonic VX2428A 24" FHD IPS 180Hz FreeSync Premium
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$159.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Gamer Acer Nitro KG241Y X1biip 23.8" FHD IPS 200Hz Freesync
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$166.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/monitores24/moni1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monitor Gamer ASUS VA24EHF-J 24" FHD IPS 100Hz
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$119.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>