<div class="row">
    <div class="col">
        <h2 class="mt-3 text-center quantico-bold">Periféricos</h2>
    </div>
</div>

<h2 class="ms-4 mt-5">Teclados</h2>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Redragon Shiva K512 RGB Español Black</h5>
            <div class="mt-auto">
                <h4 class="mb-3">$26.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Logitech G213 Prodigy RGB Lightsync</h5>
            <div class="mt-auto">
                <h4 class="mb-3">$44.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Mecanico Redragon K550 Yama White Switch Purple RGB
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$58.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Redragon Mitra K551 Mechanical Retroiluminado RGB Español
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$39.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Mecanico Corsair K70 PRO TKL 8K Hyper Polling Hall Effect Black RGB
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$174.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="images/teclados/teclado7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Mecanico Corsair K65 PLUS 75% Wireless 2.4Ghz Bluetooth 1ms Switch MLX Red
                RGB 266Hs
            </h5>
            <div class="mt-auto">
                <h4 class="mb-3">$154.99</h4>
                <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png" alt="icono"
                        style="width: 22px;"></a>
            </div>
        </div>
    </div>





    <h2 class="ms-5 mt-5">Mouses</h2>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse Logitech G PRO 2 Wireless 2.4Ghz Lightspeed Hero 2 44K White 80g 60hs
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$87.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse ASUS ROG Strix P713 Harpe Wireless 2.4Ghz Bluetooth Ace Aim Lab Edition
                    36.000DPI White
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$134.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse Razer DeathAdder V3 PRO Hypershift Wireless 2.4Ghz Focus PRO 30k White 90Hs
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$138.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse SteelSeries Aerox 3 CS2 Edition Dragon Lore Wireless 2.4Ghz Bluetooth
                    Sensor TrueMove Air RGB 200Hs
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$139.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse Razer Basilisk V3 PRO HyperSpeed Ergonomic Wireless 2.4Ghz Black 35K DPI
                    RGB 140hs
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$141.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="images/mouses/mouse7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mouse SteelSeries Aerox 9 MOBA/MMO Wireless 2.4Ghz Bluetooth Ultra LightWeight
                    AquaBarrier IP54 Sensor TrueMove Air RGB 89g 180Hs
                </h5>
                <div class="mt-auto">
                    <h4 class="mb-3">$144.99</h4>
                    <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                            alt="icono" style="width: 22px;"></a>
                </div>
            </div>
        </div>




        <h2 class="ms-5 mt-5">Auriculares</h2>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="images/auriculares/auris2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auriculares Logitech H390 Black USB</h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$36.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/auriculares/auris3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auriculares Redragon Lamia H320 RGB 7.1 Black
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$46.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/auriculares/auris4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auriculares Logitech G733 Wireless Lightspeed LightSync RGB Black 29Hs*
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$185.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/auriculares/auris5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auriculares Logitech G432 Gaming 7.1 USB
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$92.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="images/auriculares/auris6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Auriculares Corsair Void V2 Elite Wireless 2.4Ghz Bluetooth Premium Dolby Atmos 7.1 RGB White
                    </h5>
                    <div class="mt-auto">
                        <h4 class="mb-3">$165.99</h4>
                        <a href="#" class="btn btn-primary w-100">Añadir al carrito <img src="/images/carrito.png"
                                alt="icono" style="width: 22px;"></a>
                    </div>
                </div>
            </div>

            